body {
	display: block;
	margin: 0 auto;
	padding: 0;
	max-width: 90%;
}

h1 {
	text-align: center;
}

input {
	display: block;
	margin: 0 auto;
	width: 90%;
	text-align: center;
	height: 2rem;
	padding: 0.5rem;
	border-radius: 0.5rem;
}

div {
	margin: 1rem;
}

.emoji-heading {
	display: inline-block;
	background-color: lightblue;
	font-weight: 700;
	padding: 0.5rem;
}

.emoji-content {
	font-style: oblique;
	font-weight: 600;
}
